<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:src="@{/main.js}" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <div class="p-2 mb-3 bg-dark text-white">
        <div class="row align-items-center">
            <div class="col-11 align-self-center">
                <a class="navbar-brand text-white" href="#"><strong><span sec:authentication="name"></span></strong>
                    <span>with roles:</span>
                    <strong><span
                            sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                ADMIN
                            </span>
                        <span sec:authorize="hasAnyRole('ROLE_USER')">
                                USER
                            </span>
                    </strong>
                </a>
            </div>
            <div class="col">
                <a class="nav-link text-white-50" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active border-0" id="list-home-list" data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home">Admin</a>
                <a class="list-group-item list-group-item-action border-0" id="list-profile-list" data-toggle="list"
                   href="#list-profile" role="tab" aria-controls="profile">User</a>
            </div>
        </div>
        <div class="col-10 p-5 mb-2 bg-light">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#userstable" class="nav-link active" id="usersNav" role="tab" data-toggle="tab">Users
                                table</a>
                        </li>
                        <li class="nav-item">
                            <a href="#addingpanel" class="nav-link" role="tab" data-toggle="tab">New user</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane in active" id="userstable">
                            <div class="card">
                                <nav class="navbar navbar-light bg-light">
                                    <div class="container-fluid">
                                        <span class="navbar-brand mb-0 h1">All users</span>
                                    </div>
                                </nav>
                                <div class="container">
                                    <br>
                                    <div class="card border-start-0 border-bottom-0 border-end-0">
                                        <div class="card-block">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Surname</th>
                                                    <th>Email</th>
                                                    <th>Roles</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="allUsersTable">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="addingpanel">
                            <div class="card">
                                <nav class="navbar navbar-light bg-light">
                                    <div class="container-fluid">
                                        <span class="navbar-brand mb-0 h1">Add new user</span>
                                    </div>
                                </nav>
                                <div class="card-body" align="center">
                                    <div class="form-group">
                                        <label for="addFirstName"><b>First Name</b></label>
                                        <input type="text" class="form-control mb-1 col-4 w-25"
                                               style="text-align:center"
                                               id="addFirstName" aria-describedby="nameHelp" name="addFirstName">
                                    </div>
                                    <div class="form-group">
                                        <label for="addLastName"><b>Last Name</b></label>
                                        <input type="text" class="form-control mb-1 col-4 w-25"
                                               style="text-align:center"
                                               id="addLastName" aria-describedby="lastHelp" name="addLastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="addEmail"><b>Email address</b></label>
                                        <input type="text" class="form-control mb-1 col-4 w-25"
                                               style="text-align:center"
                                               id="addEmail" aria-describedby="emailHelp" name="addEmail">
                                    </div>
                                    <div class="form-group">
                                        <label for="addPassword"><b>Password</b></label>
                                        <input type="password" class="form-control mb-1 col-4 w-25"
                                               style="text-align:center"
                                               id="addPassword" aria-describedby="passwordHelp"
                                               name="addPassword">
                                    </div>
                                    <div>
                                        <label>Role
                                            <select multiple size="2" name="AddRoles" class="form-control"
                                                    id="addFormRoles">
                                                <option value="ROLE_ADMIN">Admin</option>
                                                <option value="ROLE_USER">User</option>
                                            </select>
                                        </label>
                                    </div>
                                    <button type="button" class="btn btn-success col-2" id="addUserButton">Add new
                                        user
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <h1>User information page</h1>
                    <div class="card">
                        <nav class="navbar navbar-light bg-light">
                            <div class="container-fluid">
                                <span class="navbar-brand mb-0 h1">About user</span>
                            </div>
                        </nav>
                        <div class="container">
                            <br>
                            <div class="card border-start-0 border-bottom-0 border-end-0">
                                <div class="card-block">
                                    <table class="table table-striped ">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:text="${currentUser.id}"></td>
                                            <td th:text="${currentUser.firstName}"></td>
                                            <td th:text="${currentUser.lastName}"></td>
                                            <td th:text="${currentUser.email}"></td>
                                            <td th:text="${currentUser.roles()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="editUserModal" align="center">
    <div class="modal fade" id="editModalID" tabindex="-1"
         role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center font-weight-bold">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div align="center">
                    <div class="modal-body w-75 p-3">
                        <label for="editID" class="col-form-label">ID</label>
                        <input type="number" class="form-control" style="text-align:center" disabled
                               id="editID"
                               name="editID"
                               value=""/>
                    </div>
                    <div class="form-group w-75 p-3">
                        <label for="editFirstName" class="col-form-label">First name</label>
                        <input type="text" class="form-control" style="text-align:center"
                               id="editFirstName"
                               name="editFirstName"
                               value=""/>
                    </div>
                    <div class="form-group w-75 p-3">
                        <label for="editLastName" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" style="text-align:center"
                               id="editLastName"
                               name="editLastName"
                               value=""/>
                    </div>
                    <div class="form-group w-75 p-3">
                        <label for="editEmail" class="col-form-label">Email</label>
                        <input type="text" class="form-control" style="text-align:center"
                               id="editEmail"
                               name="editEmail"
                               value=""/>
                    </div>
                    <div class="form-group w-75 p-3">
                        <input type="hidden" class="form-control"
                               id="editPassword"
                               name="editPassword"
                               value=""/>
                    </div>
                    <div>
                        <label>Role
                            <select multiple size="2" name="roles" class="form-select"
                                    id="editFormRoles">
                                <option value="ROLE_ADMIN">Admin</option>
                                <option value="ROLE_USER">User</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editModalButton" value="Edit"
                            data-dismiss="modal">Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="deleteUserModal">
    <div class="modal fade" id="deleteModalID" tabindex="-1"
         role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center font-weight-bold">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div align="center">
                    <div class="modal-body w-75 p-3">
                        <label for="deleteId" class="col-form-label">ID</label>
                        <input type="number" class="form-control" style="text-align:center" disabled
                               id="deleteId"
                               name="deleteId"
                               value=""/>
                    </div>
                    <div class="form-group w-75 p-3">
                        <label for="deleteFirstName" class="col-form-label">First name</label>
                        <input type="text" class="form-control" style="text-align:center" disabled
                               id="deleteFirstName"
                               name="deleteFirstName"
                               value=""/>
                    </div>
                    <div class="form-group w-75 p-3">
                        <label for="deleteLastName" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" style="text-align:center" disabled
                               id="deleteLastName"
                               name="deleteLastName"
                               value=""/>
                    </div>
                    <div class="form-group w-75 p-3">
                        <label for="deleteEmail" class="col-form-label">Email</label>
                        <input type="text" class="form-control" style="text-align:center" disabled
                               id="deleteEmail"
                               name="deleteEmail"
                               value=""/>
                    </div>
                    <div>
                        <label>Role</label>
                        <select size="2" class="form-select w-75 p-3" disabled multiple
                                aria-label="multiple select example">
                            <option name="isAdmin" value="true">Admin</option>
                            <option name="isUser" value="true">User</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="deleteModalButton" value="Delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>
</html>